@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(Lato.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand'), local('Quicksand'), url(Quicksand.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

::selection {
    background: transparent;
}

body {
    background-image: url('/images/background.jpg');
    background-size: 100%;
    font-family: Quicksand, san-serif;
}

.bgWhite {
    background: #01fdfe;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.colorWhite {
    color: #01fdfe !important;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.bgDark {
    background: #01fdfe;
}

.colorDark {
    color: #01fdfe;
}

.bgRed {
    background: #F286A0;
}

.colorRed {
    color: #F286A0;
}

.gameBoard, .scoreBoard {
    font-weight: 400;
}

.registerName {
    margin-top: 100px;
    margin-left: 50px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gameBoard {
    width: 100%;
}

.gameBoard td {
    text-align: center;
    color: #fff;
    font-size: 8em;
    cursor: pointer;
    transition: all 0.5s;
    animation: neon1 1.5s ease-in-out infinite alternate;
    caret-color: transparent;
}

.gameCell {
    width: 181px;
    height: 181px;
}

.gameCell:not(.marked):hover {
    box-shadow: 0 0 42px #fff;
}

.gameBoard td.gameCell.notActive:hover, .gameBoard td.gameCell.notActive:active {
    box-shadow: none;
    cursor: default;
}

.scoreBoard {
    color: #fff;
    height: 100px;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.boardCol {
    width: 5px;
    cursor: default;
}

.boardRow {
    height: 5px;
    cursor: default;
}

.scoreBoard span.active {
    border-bottom: 4px solid #fff;
    animation: neon2 1.5s ease-in-out infinite alternate;

}

.scoreBoard1 {
    margin-left: 60px;
    display: flex;
    float: left;
    border: 1px solid transparent;
}

.scoreBoard2 {
    margin-right: 60px;
    text-align: right;
    border: 1px solid transparent;
}

.divstart{
    position: relative;
    height: 48px;
    width: var(--input-width);
}

#startBtn{
    color: #fff;
    position: absolute;
    left: 50px;
    height: 120%;
    width: 35%;
    font-size: 150%;
    color: white;
    border: 2px solid #01fdfe;
    border-radius: var(--input-border-radius);
    background: #0f1640;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.botonaudio{
    left: 95%;
    top: 92%;
    position: absolute;
    border: none;
    opacity: 1;
    background-color: transparent;
}

:root {
    --active-color: #01fdfe;
    --inactive-color: #80868b;
    --border-color: #dadce0;
    --normal-font-size: 1rem;
    --small-font-size: 1rem;
    --input-width: 300px;
    --input-bg-color: #1e1f2e;
    --input-border-radius: 0.5rem;
    --input-neon-color: #01fdfe;
  }

.plasticine-item {
  position: relative;
  height: 48px;
  width: var(--input-width);
}

.plasticine-item span {
  position: absolute;
  inset: -1px;
  border-radius: var(--input-border-radius);
  background: var(--input-neon-color);
  filter: blur(10px);
  transition: 0.1s;
}

.plasticine-input {
color: #fff;
  position: absolute;
  inset: 0;
  width: var(--input-width);
  font-size: 20px;
  border: 1px solid var(--border-color);
  border-radius: var(--input-border-radius);
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
  background: var(--input-bg-color);
  transition: 0.5s;
}
.plasticine-input:focus {
  border: 1px solid var(--active-color);
}
.plasticine-input:focus ~ span {
  inset: 0;
  filter: blur(0);
}

.plasticine-label {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  padding: 0.25rem;
  background-color: #1e1f2e;
  color: var(--inactive-color);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  font-size: 15px;
  transition: 0.5s;
  cursor: text;
  z-index: 2;
}


.plasticine-input:focus + .plasticine-label {
  top: -0.8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--active-color);
  z-index: 10;
}


.plasticine-input:not(:placeholder-shown).plasticine-input:not(:focus)
  + .plasticine-label {
  top: -0.8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--inactive-color);
  z-index: 10;
}

.text {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    font-size: 100px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    font-family: Monoton;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00f9,
        0 0 70px #ff00f9, 0 0 80px #ff00f9, 0 0 100px #ff00f9, 0 0 150px #ff00f9;
    }
    to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00f9,
        0 0 35px #ff00f9, 0 0 40px #ff00f9, 0 0 50px #ff00f9, 0 0 75px #ff00f9;
    }
}

.draw {
    padding: 2rem;
    display: none;
    gap: 4rem;
    text-align: center;
    font-size: 100px;
    text-decoration: none;
    color: #fff;
    font-family: Monoton;
    animation: neon1 1.5s ease-in-out infinite alternate;
    position: absolute;
    margin-bottom: 10%;
    margin-top: 6%;
    
}

.button_reset {
    padding: 1rem;
    display: none;
    gap: 4rem;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    border: 3px solid #ff7bfd;
    font-family: Monoton;
    animation: neon1 1.5s ease-in-out infinite alternate;
    background-color: transparent;
    border-radius: 2em;
    position: absolute;
    margin-top: 18%;
    border-width: 3px;
    border-style: solid;
}

.fondo{
    height:50%;
    width: 50%;
    display: none;
    background-color: #0f1640;
    position: absolute;
    border-radius: 100px;
}

.ganar{

    padding: 2rem;
    display: flex;
    gap: 4rem;
    text-align: center;
    font-size: 100px;
    text-decoration: none;
    color: #fff;
    font-family: Monoton;
    animation: neon1 1.5s ease-in-out infinite alternate;
    position: absolute;
    margin-bottom: 10%;
    margin-top: 6%;
}

@keyframes neon2 {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #01fdfe,
        0 0 70px #01fdfe, 0 0 80px #01fdfe, 0 0 100px #01fdfe, 0 0 150px #01fdfe;
    }
    to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #01fdfe,
        0 0 35px #01fdfe, 0 0 40px #01fdfe, 0 0 50px #01fdfe, 0 0 75px #01fdfe;
    }
}
